@using ShopApplication.Models;
@using ShopApplication.Helpers;
@model IndexViewModel<Product>
@{
    var currentUser = User.Identity.Name;
    var isAdmin = User.IsInRole("admin");
    var productCount = Model.Items.Count();
}
<div class="container">
    <div class="row">
        <div class="product-wrapper col-md-12">
            @{
                if (productCount != 0)
                {
                    foreach (var product in Model.Items)
                    {
                        <div class="product col-md-4" id="@product.ProductId">
                            <p class="product-name">@product.Name</p>
                            <div class="product-image">
                                <img src="~/Images/@product.PhotoLink" alt="img" />
                            </div>
                            <p class="product-price">@product.Price$</p>
                            <p class="info-link-wrapper">
                                <a class="info-link" asp-controller="Product" asp-action="ProductInfo" asp-route-id="@product.ProductId">Info</a>
                            </p>
                            @{
                                if (isAdmin || currentUser == product.User.UserName)
                                {
                                    <div class="action-btns">
                                        <div class="update-wrapper-link btn-danger">
                                            <a asp-controller="Product" asp-action="Update" asp-route-id="@product.ProductId" class="update-link text-white">Update</a>
                                        </div>
                                        <input type="button" onclick="deleteClick(event)" value="Delete" class="delete-btn btn-primary">
                                    </div>
                                }
                            }
                        </div>
                    }
                }
                else
                {
                    <h1 class="text-center">No Products</h1>
                }
            }
        </div>
    </div>
</div>
@{
    if (productCount != 0)
    {
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index",new { page = x}))
        </div>
    }
}

@section Scripts
    {
    <script type="text/javascript">
        function deleteClick(event) {

            let target = event.target;
            let product = $(target).closest('.product');
            let productId = $(product).attr('id');
            $.ajax({
                method: 'DELETE',
                url: '/Product/Delete',
                data: { id: productId },
                success: function (data) {
                    product.remove();
                },
                error: function (jqXHR, exception) {
                    alert('Error has occured while deleting: ' + jqXHR.status);
                }
            });
        }
    </script>
}
